/* 
    Created on : 24-ago-2015, 22:58:43
    Author     : Alex Pabón
*/

#UsuariosNuevos
{
    width:811px;
    height:380px;
    float: right;
    margin-top: -5px;
    margin-right: -5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    background-color:#efefef;
    color:#000000;
    text-align:left;
    padding:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
}